@import 'tailwindcss';
@theme {
  --color-brand-primary: #da423c;
  --color-brand-primary-hover: #c12923;
  --color-brand-secondary: #3cda91;
  --color-background-dark: #272626;
  --color-text-muted: #5a5858;
  --color-background-light: #fdfdfd;
  --animate-popup: popup 3s ease-out;
  @keyframes popup {
    0% {
      opacity: 0;
    }
    75% {
      opacity: 100;
    }
    100% {
      opacity: 0;
    }
  }
}
